div {
    display: inline-block;
    /*font-family: 'Domine', serif;*/
    font-family: 'Sono', sans-serif;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

.main {
    background: orange;
    display: flex;
    width: 80%;
    height: 95%;
    margin: 0 auto;
}

.contenedor-principal {
    background: blue;
    width: 50%;
    height:100%;
    padding:100px;
}

.contenedor-botones {
    background:red;
    width: 50%;
    height:100%;
    padding: 100px;
}

.boton {
    background:yellow;
    width: 100px;
    height:100px;
    margin: 5px;
    padding: 5px;
}

.graphic {
    background:green;
    width: 300px;
    height:300px;
    margin: 0 auto;
}

#graphic {
    background:pink;
    width: 200px;
    height:200px;
}