/*
    COLORES
    #600047
    #3772ff
    #C9E31F
    #df3b57
    #0f7173

*/

div {
    display: inline-block;
    /*font-family: 'Domine', serif;*/
    font-family: 'Sono', sans-serif;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

.main {
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 10% auto;
    flex-wrap: wrap;
}

.contenedor-principal {
    background: blue;
    max-width: 90%;
    max-height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.graphic {
    background:green;
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height:300px;
    margin: 0 auto;
}


/* --------- Contendedor de botones y cuadrilla --------*/

.contenedor-botones {
    background:red;
    display: grid;
    max-width: 500px;
    max-height: 500px;
    grid-template-columns: repeat(2, 105px) 210px;
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
    margin: 2%;
}

.boton {
    background:yellow;
    display: flex;
    padding: 5px;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    margin:5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.box > .boton {
    margin: 5px 0px 0px 0px;
}
.box {
    display: inline-grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 10px;
}



/*  ------- BOTONES ESPECIFICOS -------- */


.graph {
    background:pink;
    width: 210px;
    height: 210px;
}


/* ------- Responsive design --------*/

@media screen and (max-width:500px) {









}