body {
    margin: 0;
}

#particles-js {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

div {
    display: inline-block;
    font-family: 'Sono', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


h1, h2, h3, p {
    text-align: center;
    color: #332853;
    max-width: 800px;
}

.main {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 10px auto;
    flex-wrap: wrap;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #332853;
}

a:hover {
    color: #3a1c94;
}

.block {
    display: flex;
    justify-content: space-around;
    background-color: cyan;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
}

.elemento {
    background-color: green;
    height: 300px;
    min-width: 300px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about {
    margin-top: 10%;
}

.thumb {
    max-width: 200px;
    max-height: 200px;
}


@media screen and (max-width:800px) {

    .block {
        flex-direction: column;
    }
}
