body {
    margin: 0;
}

#particles-js {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

div {
    display: inline-block;
    font-family: 'Sono', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


h1, h2, p {
    text-align: center;
    color: #332853;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 10% auto;
    flex-wrap: wrap;
    flex-direction: column;
}
