/*
    COLORES
    #600047
    #3772ff
    #C9E31F
    #df3b57
    #0f7173


    ICONS
<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div><div>Icons made by <a href="https://www.flaticon.com/authors/maxim-basinski-premium" title="Maxim Basinski Premium">Maxim Basinski Premium</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div><div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div><div>Icons made by <a href="https://www.flaticon.com/authors/feen" title="feen">feen</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>


*/

div {
    display: inline-block;
    font-family: 'Sono', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1, h2, p {
    text-align: center;
    color: #332853;
}

h1 {
    margin-bottom: 5px;
    margin-top: 15px;
}

h2 {
    font-weight: normal;
    margin: 0;
}

p {
    margin: 5px;
    max-width: 500px;
    text-align: center;
    font-size: 15px;
}

.main {
    /*background: orange;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 10% auto;
    flex-wrap: wrap;
}

.contenedor-principal {
    /*background: blue;*/
    max-width: 80%;
    max-height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.graphic {
    background:green;
    filter: drop-shadow(10px 10px 0 #ec3841);
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    border-radius: 100px;
}

a {
    text-decoration: none;
    color: black;
}


/* --------- Contendedor de botones y cuadrilla --------*/

.contenedor-botones {
    /*background:red;*/
    display: grid;
    max-width: 500px;
    max-height: 500px;
    grid-template-columns: repeat(2, 105px) 210px;
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
    margin: 2%;
    font-size: 32px;
}

.boton {
    background:white;
    display: flex;
    padding: 5px;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    margin:5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px teal;
    transition: all 0.3s ease-in-out;
    border: solid 1px #909797;
}

.boton:hover {
    box-shadow: none;
    color:teal;
    transition: all 0.3s ease-in-out;
}

.container {
    display: inline-flex;
    flex-direction: column;
}

.box > .boton {
    margin: 5px 0px 0px 0px;
}
.box {
    display: inline-grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    column-gap: 10px;
    row-gap: 10px;
}
.op1, .op2 {
    display: none;
}

.p11 {
    font-size: 20px;
}

/*  ------- BOTONES ESPECIFICOS -------- */


.graph {
    background:pink;
    width: 210px;
    height: 210px;
    box-shadow: none;
    border: none;
}

.graph:hover {
    color: black;
}

.graph2 {
    background:pink;
    box-shadow: none;
    border: none;
}

.col1 {
    box-shadow: 5px 5px #600047;
    transition: all 0.3s ease-in-out;
}

.col1:hover {
    box-shadow: none;
    color:#600047;
    border: solid 1px #600047;
    transition: all 0.3s ease-in-out;
}

.col1:hover > img {
    filter: invert(8%) sepia(29%) saturate(7192%) hue-rotate(294deg) brightness(146%) contrast(139%);
}

.col2 {
    box-shadow: 5px 5px #3772ff;
    transition: all 0.3s ease-in-out;
}

.col2:hover {
    box-shadow: none;
    color:#3772ff;
    border: solid 1px #3772ff;
    transition: all 0.3s ease-in-out;
}

.col2:hover > img {
    filter: invert(36%) sepia(72%) saturate(2254%) hue-rotate(212deg) brightness(99%) contrast(111%);
}

.col3 {
    box-shadow: 5px 5px #7ee31f;
    transition: all 0.3s ease-in-out;
}

.col3:hover {
    box-shadow: none;
    color:#7ee31f;
    border: solid 1px #7ee31f;
    transition: all 0.3s ease-in-out;
}

.col3:hover > img {
    filter: invert(64%) sepia(100%) saturate(376%) hue-rotate(43deg) brightness(100%) contrast(98%);
}

.col4 {
    box-shadow: 5px 5px #ec3841;
    transition: all 0.3s ease-in-out;
}

.col4:hover {
    box-shadow: none;
    color:#ec3841;
    border: solid 1px #ec3841;
    transition: all 0.3s ease-in-out;
}

.col4:hover > img {
    filter: invert(29%) sepia(64%) saturate(2535%) hue-rotate(337deg) brightness(95%) contrast(95%);
}

.col5 {
    box-shadow: 5px 5px #0f7173;
    transition: all 0.3s ease-in-out;
}

.col5:hover {
    box-shadow: none;
    color:#0f7173;
    border: solid 1px #0f7173;
    transition: all 0.3s ease-in-out;
}

.col5:hover > img {
    filter: invert(32%) sepia(57%) saturate(604%) hue-rotate(132deg) brightness(99%) contrast(94%);
}

/* ------- Responsive design --------*/

@media screen and (max-width:500px) {

    .contenedor-botones {
        max-width: 400px;
        max-height: 400px;
        grid-template-columns: repeat(1, 70px) 140px;
        padding: 0;
        margin-left: -20px;
    }
    
    .boton {
        min-width: 70px;
        min-height: 70px;
    }
    
    .box {
        margin-left: 5px;
        grid-template-columns: repeat(2, 70px);
        grid-template-rows: repeat(3, 70px);
    }
    
    /*  ------- BOTONES ESPECIFICOS -------- */
    .op1, .op2 {
        display: flex;
    }

    .esp, .p11, .graph{
        display: none;
    }






}